html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

.Banner__Banner--1l6Dn {
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/static/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative; }
  @media screen and (max-width: 1280px) {
    .Banner__Banner--1l6Dn {
      height: 800px; } }
  @media screen and (max-width: 960px) {
    .Banner__Banner--1l6Dn {
      height: 600px; } }
  @media screen and (max-width: 600px) {
    .Banner__Banner--1l6Dn {
      height: 450px; } }

.Banner__Title--AsU-9 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  width: 65%;
  line-height: 1.3; }
  @media screen and (max-width: 1280px) {
    .Banner__Title--AsU-9 {
      top: 250px;
      font-size: 50px; } }
  @media screen and (max-width: 960px) {
    .Banner__Title--AsU-9 {
      font-size: 35px; } }
  @media screen and (max-width: 600px) {
    .Banner__Title--AsU-9 {
      font-size: 22px;
      width: 90%; } }

.Products__Title--3QJMI {
  margin: 50px 0; }

.Products__Cards--2_94g {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (min-width: 600px) {
    .Products__Cards--2_94g {
      min-width: 560px; } }
  @media (min-width: 960px) {
    .Products__Cards--2_94g {
      min-width: 900px; } }
  @media (min-width: 1280px) {
    .Products__Cards--2_94g {
      min-width: 1200px; } }
  @media (min-width: 1920px) {
    .Products__Cards--2_94g {
      min-width: 1800px; } }
  @media (min-width: 2400px) {
    .Products__Cards--2_94g {
      min-width: 2300px; } }
  @media screen and (max-width: 960px) {
    .Products__Cards--2_94g {
      flex-direction: column; } }

.Products__Card--2Mjij {
  margin: 60px 30px; }

.Card__Card--1gkYo {
  overflow: hidden;
  width: 350px; }

.Card__ImageBox--2JHue {
  width: 100%;
  height: 250px; }

.Card__Image--3VBtk {
  max-width: 100%; }

.Card__Content--tZmig {
  padding: 0 20px;
  font-family: "PT Sans", sans-serif;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.1); }

.Card__Label--1kcVQ {
  color: #3d5975;
  font-family: inherit;
  text-align: center;
  text-transform: capitalize;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 25px 0;
  margin: 0;
  font-weight: 500; }

.Card__Context--3FTbx {
  font-family: inherit;
  color: #3B3A3A;
  font-size: 18px; }
  @media screen and (max-width: 600px) {
    .Card__Context--3FTbx {
      font-size: 16px; } }

.Card__Context--3FTbx::first-letter {
  padding-left: 25px; }

.Card__Price--3QWXB {
  font-family: inherit;
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  color: #edcd1f;
  background-color: #1e2d3b;
  padding: 15px 0;
  margin: 50px -20px 0 -20px; }
  @media screen and (max-width: 600px) {
    .Card__Price--3QWXB {
      font-size: 30px; } }

.AboutUs__AboutUs--3ENAB {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 1280px) {
    .AboutUs__AboutUs--3ENAB {
      justify-content: stretch; } }
  @media screen and (max-width: 960px) {
    .AboutUs__AboutUs--3ENAB {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }

.AboutUs__Content--3Djav {
  box-sizing: border-box;
  width: 30%;
  padding: 0 40px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start; }
  @media screen and (max-width: 1280px) {
    .AboutUs__Content--3Djav {
      width: 65%;
      margin-bottom: 0px; } }
  @media screen and (max-width: 960px) {
    .AboutUs__Content--3Djav {
      flex-direction: column;
      width: 100%; } }

.AboutUs__Title--sJwS8 {
  justify-content: flex-start;
  align-items: flex-start; }

.AboutUs__Context--3SoC0 {
  font-size: 18px;
  font-family: "PT Sans", sans-serif;
  line-height: 1.5; }

.AboutUs__Context--3SoC0::first-letter {
  padding-left: 25px; }

.AboutUs__Image--rILse {
  width: 50%;
  background-image: linear-gradient(to top right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("/static/images/aboutus-bg.jpg");
  background-size: cover;
  background-position: left;
  background-attachment: fixed; }
  @media screen and (max-width: 1280px) {
    .AboutUs__Image--rILse {
      width: 35%;
      height: 400px;
      order: -1; } }
  @media screen and (max-width: 960px) {
    .AboutUs__Image--rILse {
      height: 300px;
      width: 100%; } }

.Title__Container--15DwJ {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.Title__Title--a7A3e {
  font-family: "PT Sans", sans-serif;
  font-size: 50px;
  text-align: center;
  color: #c6c6c6;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 20px 0;
  line-height: 2; }
  @media screen and (max-width: 960px) {
    .Title__Title--a7A3e {
      font-size: 35px; } }

.Title__Line--5baWg {
  margin: 0 auto;
  width: 60%;
  height: 8px;
  background-color: #edcd1f; }
  @media screen and (max-width: 960px) {
    .Title__Line--5baWg {
      height: 6px; } }

.Title__Line_left--dcumK {
  margin: 0; }

.Achievement__Achievement--1bRwX {
  background-color: #edcd1f;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding: 70px 0;
  display: flex;
  justify-content: center; }
  @media (min-width: 600px) {
    .Achievement__Achievement--1bRwX {
      min-width: 560px; } }
  @media (min-width: 960px) {
    .Achievement__Achievement--1bRwX {
      min-width: 900px; } }
  @media (min-width: 1280px) {
    .Achievement__Achievement--1bRwX {
      min-width: 1200px; } }
  @media (min-width: 1920px) {
    .Achievement__Achievement--1bRwX {
      min-width: 1800px; } }
  @media (min-width: 2400px) {
    .Achievement__Achievement--1bRwX {
      min-width: 2300px; } }
  @media screen and (max-width: 960px) {
    .Achievement__Achievement--1bRwX {
      flex-direction: column; } }

.Achievement__Item--1GFoU {
  font-family: "PT Sans", sans-serif;
  display: inline-block;
  padding: 0 40px;
  text-align: center;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff; }
  @media screen and (max-width: 960px) {
    .Achievement__Item--1GFoU {
      padding-top: 30px; } }

.Achievement__Title--13jYi {
  font-size: 60px;
  color: #fff;
  font-family: inherit;
  white-space: nowrap;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 960px) {
    .Achievement__Title--13jYi {
      font-size: 50px; } }

.Achievement__Text--ZdEVy {
  font-size: 22px;
  color: #3d5975;
  font-family: inherit;
  text-transform: unset;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 960px) {
    .Achievement__Text--ZdEVy {
      font-size: 20px; } }

.NavigationLinks__NavigationLinks--1vYTy {
  display: flex;
  justify-content: flex-end; }
  @media screen and (max-width: 960px) {
    .NavigationLinks__NavigationLinks--1vYTy {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; } }

.NavigationLink__Link--3lL6O {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
  letter-spacing: 1px;
  display: block;
  box-sizing: border-box;
  padding: 17px 20px;
  transition: color 0.3s; }
  .NavigationLink__Link_active--yJIOP, .NavigationLink__Link--3lL6O:hover {
    color: #edcd1f; }
  .NavigationLink__Link_view_murky--14EcZ {
    color: #3B3A3A; }
  .NavigationLink__Link_view_murky--14EcZ:not(:last-child) {
    border-bottom: 2px solid #fff; }
  .NavigationLink__Link_view_murky--14EcZ.NavigationLink__Link_active--yJIOP, .NavigationLink__Link_view_murky--14EcZ:hover {
    color: #fff; }
  @media screen and (max-width: 960px) {
    .NavigationLink__Link--3lL6O {
      width: 250px; } }

.Logo__Logo--2Df94 {
  color: #fff;
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: capitalize; }
  @media screen and (max-width: 960px) {
    .Logo__Logo--2Df94 {
      color: #3B3A3A; } }

.HamburgerIcon__MenuBarContainer--y4OYI {
  position: relative;
  width: 48px;
  height: 48px;
  cursor: pointer; }

.HamburgerIcon__MenuBar--ARpca {
  background-color: #3B3A3A;
  position: absolute;
  height: 1px;
  width: 17px;
  border-radius: 5px;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease-in; }

.HamburgerIcon__TopBar--18zJa {
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: HamburgerIcon__topDwon-reverse--IxKKe; }

.HamburgerIcon__MiddleBar--3Z5yb {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: HamburgerIcon__unvisiable-reverse--38iTV; }

.HamburgerIcon__BottomBar--NQrIM {
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: HamburgerIcon__bottomUp-reverse--1tlhz; }

.HamburgerIcon__Active--EZweA .HamburgerIcon__TopBar--18zJa {
  animation-name: HamburgerIcon__topDwon--2p7Za; }

.HamburgerIcon__Active--EZweA .HamburgerIcon__MiddleBar--3Z5yb {
  animation-name: HamburgerIcon__unvisiable--1OnDm; }

.HamburgerIcon__Active--EZweA .HamburgerIcon__BottomBar--NQrIM {
  animation-name: HamburgerIcon__bottomUp--1ywqk; }

@keyframes HamburgerIcon__topDwon--2p7Za {
  0% {
    top: 35%; }
  50%,
  60% {
    top: 50%;
    transform: translate(-50%, -50%); }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes HamburgerIcon__unvisiable--1OnDm {
  0% {
    top: 50%; }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) scale(0); } }

@keyframes HamburgerIcon__bottomUp--1ywqk {
  0% {
    top: 65%; }
  50%,
  60% {
    top: 50%;
    transform: translate(-50%, -50%); }
  100% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes HamburgerIcon__topDwon-reverse--IxKKe {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg); }
  50%,
  60% {
    top: 50%;
    transform: translate(-50%, -50%); }
  100% {
    top: 35%; } }

@keyframes HamburgerIcon__unvisiable-reverse--38iTV {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) scale(0); }
  100% {
    top: 50%; } }

@keyframes HamburgerIcon__bottomUp-reverse--1tlhz {
  0% {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg); }
  50%,
  60% {
    top: 50%;
    transform: translate(-50%, -50%); }
  100% {
    top: 65%; } }

.Navigation__Block--198q4 {
  width: 100%;
  background-color: #1e2d3b;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  display: block;
  margin: 0 auto;
  z-index: 1000; }
  @media screen and (max-width: 960px) {
    .Navigation__Block--198q4 {
      background-color: #edcd1f; } }

.Navigation__Backdrop--35wx4 {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #edcd1f; }

.Navigation__HamburgerIcon--3B3fA {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1200; }

.Navigation__Navigation--HUKkQ {
  padding-top: 120px; }

.Navigation__Container--1LEXp {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 600px) {
    .Navigation__Container--1LEXp {
      min-width: 560px; } }
  @media (min-width: 960px) {
    .Navigation__Container--1LEXp {
      min-width: 900px; } }
  @media (min-width: 1280px) {
    .Navigation__Container--1LEXp {
      min-width: 1200px; } }
  @media (min-width: 1920px) {
    .Navigation__Container--1LEXp {
      min-width: 1800px; } }
  @media (min-width: 2400px) {
    .Navigation__Container--1LEXp {
      min-width: 2300px; } }

.Navigation__LogoBox--2rYBP {
  background-color: #edcd1f;
  width: 170px;
  max-width: 170px;
  height: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 960px) {
    .Navigation__LogoBox--2rYBP {
      margin-left: 0px; } }

.Navigation__FadeOut-enter--1th9O {
  transform: translateY(-100%); }

.Navigation__FadeOut-enter-active--_GGw6 {
  transform: translateY(0%);
  transition: all 0.4s ease-out; }

.Navigation__FadeOut-exit-active--2CEE- {
  transform: translateY(-100%);
  transition: all 0.4s ease-out; }

.TopLine__TopLine--2IRm- {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1e2d3b;
  padding: 10px 0; }
  @media screen and (min-width: 960px) {
    .TopLine__TopLine--2IRm- {
      background-color: #edcd1f;
      padding: 10px 20px; } }

.TopLine__Container--3aHX6 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media (min-width: 600px) {
    .TopLine__Container--3aHX6 {
      min-width: 560px; } }
  @media (min-width: 960px) {
    .TopLine__Container--3aHX6 {
      min-width: 900px; } }
  @media (min-width: 1280px) {
    .TopLine__Container--3aHX6 {
      min-width: 1200px; } }
  @media (min-width: 1920px) {
    .TopLine__Container--3aHX6 {
      min-width: 1800px; } }
  @media (min-width: 2400px) {
    .TopLine__Container--3aHX6 {
      min-width: 2300px; } }

.ContactItem__Link--2Umcl {
  color: #3d5975;
  text-decoration: none;
  display: inline-block;
  transition: color 0.3s; }
  .ContactItem__Link--2Umcl:hover {
    color: #fff; }
  @media screen and (max-width: 960px) {
    .ContactItem__Link--2Umcl {
      color: #fff; }
      .ContactItem__Link--2Umcl:hover {
        color: #edcd1f; } }

.ContactItem__Label--3xLaH {
  font-family: "PT Sans", sans-serif;
  padding: 0 10px;
  display: inline-block; }


/*# sourceMappingURL=styles.chunk.css.map*/